.sidebar {
	grid-area: side;

	background: linear-gradient(90deg, rgba(131,194,255,1) 0%, rgba(184,143,255,1) 100%);

	border-radius: 10px;
}

@media (max-width: 640px) {
	.sidebar {
		margin-bottom: 20px;

		border-radius: 10px;
	}
}
