.container {
	max-width: 1230px;

	margin: 0 auto;

	padding: 0 15px;

	height: 100%;
}

.app-wrapper {
	display: grid;

	grid-template-areas: 'header'
						 'main';

	grid-template-columns: 1fr;
	grid-template-rows: 60px 1fr;

	grid-column-gap: 10px;

	grid-row-gap: 10px;
}


.header {
	grid-area: header;

	background: linear-gradient(90deg, rgba(255,131,131,1) 0%, rgba(255,214,143,1) 100%);

	&__logo {
		max-width: 100px;
	}

	&__container {
		display: flex;
		align-items: center;
	}
}

.main {
	grid-area: main;

	display: grid;

	grid-template-columns: 1fr minmax(auto, 200px) minmax(auto, 1000px) 1fr;

	grid-template-areas: '. side content .';

	grid-column-gap: 10px;
}

.sidebar {
	grid-area: side;

	background: linear-gradient(90deg, rgba(131,194,255,1) 0%, rgba(184,143,255,1) 100%);

	border-radius: 10px 0 0 10px;

	&__list {
		list-style: none;

		padding: 15px;

		margin: 0;
	}

	&__link {
		color: #fff;

		font-size: 25px;

		text-decoration: none;
	}
}

.content {
	grid-area: content;

	background: linear-gradient(90deg, rgba(204,255,131,1) 0%, rgba(171,255,199,1) 100%);

	border-radius: 0 10px 10px 0;

	padding: 15px 0;

	&__image {
		width: 100%;
		height: 100%;

		object-fit: cover;

		position: absolute;
		top: 0;
		left: 0;

		border-radius: 5px;

		&-container_big {
			min-height: 200px;

			position: relative;
		}
	}
}

@media (max-width: 640px) {
	.main {
		display: block;

		padding: 0 5px;
	}

	.sidebar {
		margin-bottom: 20px;

		border-radius: 10px;
	}

	.content {
		border-radius: 10px;
	}
	
}
