.avatar {
	width: 40px;
	height: 40px;

	border-radius: 50%;

	background-color: #2d5c75;

	margin-right: 10px;
}

.text {
	font-size: 18px;

	color: #000;
}

.message {
	display: flex;
	align-items: center;
}

.message + .message {
	margin-top: 20px;
}

.me {
	justify-content: flex-end;

	& .avatar {
		background-color: #708837;
	}
}
